//
// Animations
//

@keyframes flip {
	from {
		transform: perspective(300px) rotateY(0deg) translateZ(0) scale(1);
	}

	to {
		transform: perspective(300px) rotateY(360deg) translateZ(0) scale(.95);
	}
}

.u-animate-flip-container {
	perspective: 300px;
}

.u-animate-flip {
	backface-visibility: visible;
	animation: flip 1s infinite;	
}

keyframes slide-from-left {
	from {
		transform: translateX(100%);
	}

	from {
		transform: translateX(0%);
	}
}

.u-animate-slide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.25s ease;
}

.u-animate-slide.ng-enter {
		transform: translateX(100%);
		z-index: 2;
}

.u-animate-slide.ng-enter.ng-enter-active {
		transform: translateX(0%);
}

.u-animate-slide.ng-leave.ng-leave-active {
		transform: translateX(-100%);
}


