//
// Colors
//

$dark:		#5C4B51;
$white:		#fff;
$pale:		#F2EBBF;
$orange:	#EF761F;
$green:		#8CBEB2;
$red:		#F06060;

$body-color:	#fff;
$body-bg: 		$dark;
$header-bg:		$red;

$positive:		$green;
$negative:		$red;