//
// Sitewide Setup Styles
//

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: $body-bg;
	color: $body-color;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

html, body, #map {
    height: 100%;
}