//
// site-header
//

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	padding: 0 1em;
	height: $header-height;
	background: $header-bg;
	border-bottom: 1px solid darken($header-bg, 10%);
	@include clearfix;
}

.site-header-name {
	margin: 0;
	float: left;
	height: $header-height;

	h1 {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}

.site-header-svg {
	margin-top: 0.5em;
	width: 140px;
	height: 32px;
	fill: $white;
}

.site-header-button {
	float: right;
	margin-left: 3px;
	height: 100%;
	padding: 0 0.5em;
	line-height: $header-height;
	text-align: center;
	background: none;
	color: $white;
	font-size: 1.25em;
	border: none;
	text-decoration: none;

	&:hover,
	&:visited {
		color: $white;
	}

	&:active {
		color: darken($white, 8%);
	}
}