<section class="FillSection FillSection--map">
		  
	<div id="map"></div>

	<div class="comments u-centerWrap">
		<button class="comment-button u-textAlpha" ng-click="openComments()" ng-hide="isCommenting"><i class="icon-bubble"></i> Comment</button>

		<div id="comment-form" ng-show="isCommentReady">
			<input id="jingle" class="comment-field" type="text" value="" placeholder="Whats happening?" >
			<input id="email" type="text" value="" placeholder="Email" ><!-- spam prevention -->
			<div class="AddComment-buttons">
				<button id="pos" name="pos" type="button" class="comment-button comment-button--positive u-textAlpha" data-sentiment="pos"><i class="icon-smiley"></i></button>
				<button id="neg" name="neg" type="button" class="comment-button u-textAlpha" data-sentiment="neg"><i class="icon-sad"></i></button>
			</div>
		</div>

		<div ng-show="isThinking" class="Comments-thinking u-animateFlipContainer">
			<div class="u-animateFlip">
				<i ng-show="isPosting" class="icon-bubble2 u-textAlpha"></i>
				<i ng-show="isLocating" class="icon-location u-textAlpha"></i>
			</div>
		</div>

	</div>

</section>