<section class="FillSection FillSection--map">
		  
	<div id="map"></div>

	<div class="Comments">

		<!-- <div id="last-update" class="LastUpdate u-centerWrap">
			<div class="LastUpdate-sentiment"><i class="icon-smiley u-textGamma"></i></div>
			<div class="LastUpdate-comment">Update...</div>
		</div> -->

		<div id="comment" class="AddComment u-centerWrap">
			<input id="jingle" type="text" value="" placeholder="Whats happening?" />
			<input id="email" type="text" value="" placeholder="Email" /><!-- spam prevention -->
			<div class="AddComment-buttons">
				<button id="pos" name="pos" type="button" class="u-textAlpha js-postUpdate" data-sentiment="pos"><i class="icon-smiley"></i></button>
				<button id="neg" name="neg" type="button" class="u-textAlpha js-postUpdate" data-sentiment="neg"><i class="icon-sad"></i></button>
			</div>
		</div>

		<div id="comment-processing" class="Comments-thinking u-animateFlipContainer">
			<div class="u-animateFlip">
				<i class="icon-bubble2 u-textAlpha"></i>
			</div>
		</div>

	</div>

</section>