<section class="FillSection FillSection--map">
		  
	<div id="map"></div>

	<div class="comments">
		<div class="u-centerWrap">
			<button class="comment-button u-textAlpha" ng-click="openComments()" ng-hide="isCommenting"><i class="icon-bubble"></i> Comment</button>

			<div id="comment-form" ng-show="isCommentReady">
				<input class="comment-field" type="text" ng-model="comment" placeholder="Whats happening?" >
				<input id="email" type="text" ng-model="email" placeholder="Email" ><!-- spam prevention -->
				<div class="AddComment-buttons">
					<button type="button" class="comment-button comment-button--positive u-textAlpha" ng-click="addComment('pos')"><i class="icon-smiley"></i></button>
					<button type="button" class="comment-button u-textAlpha" ng-click="addComment('neg')"><i class="icon-sad"></i></button>
				</div>
				<button type="button" class="close-comments" ng-click="closeComment()">&#215;</button>
			</div>

			<div ng-show="isThinking" class="Comments-thinking u-animateFlipContainer">
				<div class="u-animateFlip">
					<i ng-show="isPosting" class="icon-bubble2 u-textAlpha"></i>
					<i ng-show="isLocating" class="icon-location u-textAlpha"></i>
				</div>
			</div>
		</div>
	</div>

</section>