<section class="FillSection FillSection--info">
  <div class="u-centerWrap">
  <h2>What's Safari Feed?</h2>
    <p>Safari feed gives you real-time updates of what is happening in the San Diego Zoo. Submit your own updates to let others know where the action is.</p>
    <h2>Adding Updates</h2>
    <p>On the map screen, click the comment button on the bottom. The blue marker shows your current position as accurately as your mobile browser can determine. If it's off, drag it to your exact spot. Write a brief note and submit the update with either the postive, <i class="icon-smiley u-positive"></i>, or negative, <i class="icon-sad u-negative"></i> button depending on your message.</p>
    <ul class="Examples">
      <li class="u-textDelta"><i class="icon-smiley u-positive"></i>The lions are feeding!</li>
      <li class="u-textDelta"><i class="icon-sad u-negative"></i>The monkey exhibit is closed.</li>
    </ul>
    <h2>History</h2>
    <p>Toggling "Historic Activity" overlays a heatmap of every submitted positive comment for the current hour of the day.</p>
    <p>Animals have regular schedules, so if the Snow Leopoards play every day at 3PM, you should be able to glean that from the historic layer.</p>
    <p>Safari Feed is brand new, however, and this historic data is from updates by users like you. The more we update the more we help each other out.</p>
    <h2>Support</h2>
    <p>Contribute to this project on <a href="https://github.com/andrewlaskey/safari-feed" title="Safari Feed Github Repository" target="_blank">Github</a></p>
    <p>Follow <a href="https://twitter.com/safarifeed" title="@safarifeed on twitter" target="_blank"></a>@safarifeed</a> on Twitter!</p>
    <p><a href="http://www.safarifeed.com/safarifeed-legal.html">Legal Stuff</a></p>
  </div>
</section>