//
// Color Utilities
//

.u-positive {
	color: $positive;
}

.u-negative {
	color: $negative;
}

.u-dark-border-top {
	border-top: 1px solid $dark;
}

.u-dark-border-bottom {
	border-bottom: 1px solid $dark;
}