//
// Colors
//

$dark:		#463C33;
$white:		#fff;
$pale:		#FAF4EA;
$orange:	#EF761F;
$green:		#9CCD6A;
$red:		#BB3E3E;

$body-color:	$dark;
$body-bg: 		$pale;
$header-bg:		$orange;

$positive:		$green;
$negative:		$red;