@font-face {
	font-family: 'safari-feed';
	src:url('../fonts/safari-feed.eot');
	src:url('../fonts/safari-feed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/safari-feed.ttf') format('truetype'),
		url('../fonts/safari-feed.woff') format('woff'),
		url('../fonts/safari-feed.svg#safari-feed') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'safari-feed';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sad:before {
	content: "\e600";
}
.icon-smiley:before {
	content: "\e601";
}
.icon-bubble:before {
	content: "\e602";
}
.icon-cog:before {
	content: "\e603";
}
.icon-spinner:before {
	content: "\e604";
}
.icon-bubble2:before {
	content: "\e605";
}
