//
// Comments
//

.comments {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	z-index: 9999;
	background: $body-bg;
	text-align: center;
	transition: all 0.25s ease;
}

#email {
	display: none;
}

.AddComment {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: $body-bg;
}

.comment-field {
	margin-bottom: 0.5em;
	padding: 0.6em;
	width: 90%;
	background: $white;
	box-shadow: none;
	border: none;
	color: $dark;

	&::-webkit-input-placeholder {
		font-style: italic;
		color: $dark;
	}

	&:-moz-placeholder { /* Firefox 18- */
		font-style: italic;
		color: $dark;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		font-style: italic;
		color: $dark;
	}

	&:-ms-input-placeholder {  
		font-style: italic;
		color: $dark;
	}
}

.comment-button {
	padding: 0 1em;
	border: none;
	border-radius: 2px;
	background: $header-bg;
	color: #fff;
	cursor: pointer;

	&.comment-button--positive {
		background: $positive;
	}
}

.Comments-thinking {
	background: rgba($body-bg, 0.8);
	color: $header-bg;
	text-align: center;
}

.close-comments {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	border: none;
	background: none;
	color: $white;
	font-size: 1.2em;
	cursor: pointer;
}
