//
// Comments
//

.Comments {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background: $body-bg;
	border-top: 1px solid #ebd4ac;
	@include transform(translateY(100%));
	@include transition(all 0.15s ease);

	&.is-open {
		@include transform(translateY(0%));		
	}

	&.is-thinking {

		.Comments-thinking {
			display: block;
		}
	}
}

.LastUpdate {
	position: absolute;
	bottom: 116%;
	left: 0;
	right: 0;
	padding: 0.4em 1em;
	background: $body-bg;
	box-shadow: 0 1px 2px 1px rgba(#444, 0.6);
	@include clearfix;
	@include transform(translateY(146%));
	@include transition(all 0.35s ease);
	z-index: -1;

	&.is-open {
		@include transform(translateY(0%));		
	}
}

#email {
	display: none;
}

.LastUpdate-sentiment {
	float: left;
	margin-right: 0.5em;
	width: 2em;
	text-align: center;
}

.AddComment {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: $body-bg;
}

.AddComment input[type="text"] {
	margin-bottom: 0.5em;
	padding: 0.6em;
	width: 100%;
	background: #ebd4ac;
	box-shadow: none;
	border: none;
	color: $white;
}

.AddComment-buttons {
	text-align: center;
	
	button {
		padding: 0 1em;
		border: 1px solid #ebd4ac;
		border-radius: 2px;
		background: $body-bg;
		color: $header-bg;
		cursor: pointer;
	}
}

.Comments-thinking {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2em 0;
	background: rgba($body-bg, 0.8);
	color: $header-bg;
	text-align: center;
	display: none;
}
