//
// Fill Section
//

.fill-section {
	position: absolute;
	top: $header-height;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;

	&.fill-section--map {
		color: $dark; //fix color of marker bubbles
	}

	&.fill-section--info {
		padding-top: 3rem;
		background: #fff;
		color: $dark;
	}

	&.fill-section--list {
		background: #fff;
		color: $dark;
	}
}