//
// SiteHeader
//

.SiteHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	padding: 0 1em;
	height: $header-height;
	background: $header-bg;
	@include clearfix;
}

.SiteHeader-name {
	margin: 0;
	float: left;
	color: $white;
}

.SiteHeader-button {
	float: right;
	margin-left: 3px;
	height: $header-height;
	width: $header-height;
	line-height: $header-height;
	text-align: center;
	background: lighten($header-bg, 12%);
	color: $white;
	font-size: 1.65em;
	border: none;
	cursor: pointer;
}