/*
Syntax error: File to import not found or unreadable: general/markericons.
              Load path: /Users/andrewlaskey/Dropbox/gits/safari-feed/www/css
        on line 7 of sass/style.scss

2: 
3: @import "general/colors";
4: @import "general/settings";
5: @import "general/icons";
6: @import "general/sitewide";
7: @import "general/markericons";
8: 
9: @import "utilities/vertical-rhythm";
10: @import "utilities/layout";
11: @import "utilities/color-util";
12: @import "utilities/animation";

Backtrace:
sass/style.scss:7
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/import_node.rb:67:in `import'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/import_node.rb:28:in `imported_file'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/import_node.rb:37:in `css_import?'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:444:in `watch_or_update'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/andrewlaskey/.gem/ruby/1.8/gems/sass-3.2.3/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: general/markericons.\A               Load path: /Users/andrewlaskey/Dropbox/gits/safari-feed/www/css\A         on line 7 of sass/style.scss\A \A 2: \A 3: @import \"general/colors\";\A 4: @import \"general/settings\";\A 5: @import \"general/icons\";\A 6: @import \"general/sitewide\";\A 7: @import \"general/markericons\";\A 8: \A 9: @import \"utilities/vertical-rhythm\";\A 10: @import \"utilities/layout\";\A 11: @import \"utilities/color-util\";\A 12: @import \"utilities/animation\";"; }
